@charset "utf-8";
/* CSS Document */
html,body,div,h1,h2,h3,h4,h5,h6,p,span,em,a,img,ul,li,ol,form,button,input,textarea,dl,dt,dd,iframe{margin:0;padding:0;}
body{
	
	font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	
	
	}
img {border:0;}
h1{font-family: "宋体";}
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
align-items: flex-start;
text-align: center;
cursor: default;
color: buttontext;

border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;

box-sizing: border-box;
}
user agent stylesheetinput[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: push-button;
-webkit-user-select: none;
white-space: pre;
}

user agent stylesheetinput, input[type="password"], input[type="search"] {
-webkit-appearance: textfield;

background-color: white;

border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
}

user agent stylesheetinput, textarea, keygen, select, button, meter, progress {
-webkit-writing-mode: horizontal-tb;
}
input, textarea, keygen, select, button {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
}

input[type="text"]{
border:0px;
background:#FFF;
 outline:medium;
}
input[type="button"]{
border:none;
    outline:medium;
}
input, textarea, keygen, select, button, meter, progress {
-webkit-writing-mode: horizontal-tb;
}
ol,ul,.menu_chinese ul,.menu_english ul,contact ul{
	list-style: none;
}
ul, menu, dir {
display: block;

/*-webkit-margin-before: 1em;
-webkit-margin-after: 1em;*/
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

}
a{
	text-decoration: none;
	}
.clear{
	clear:both;
	}

/*头部区域*/
#header{width:100%;height:217px;margin:0 auto;position:relative;z-index:1;}
#header #header_wrap{width:1024px;height:178px;margin:0px auto;}
#header #header_wrap .logo{
	width:346px;
	float:left;
	font:normal 13px/20px "微软雅黑",arial,sans-serif;
	color:#858382;
	margin-top:23px;
	text-align:center;
}
#header #header_wrap .logo img{width:346px;height:128px;}

#header .head_search{float: left;width: 321px;height: 30px;border:1px solid #dcdcdc;margin: 96px 0 0px 15px;}
#header .head_search input{border: 0px;}
#header .head_search input[type="text"]{
        width: 270px;height: 28px;float: left;
        padding: 1px 8px;
        font-size: 14px;
        overflow: hidden;
        zoom: 1;
        line-height: 20px;
        font-family: "Microsoft YaHei" Arail;
        color: #c5c5c5;
}
#header .head_search form{height: 28px;}
#header .head_search input[type="submit"]{background: url(../img/search_icon.png);float: right;width: 27px;height: 28px;cursor:pointer; }
#header .head_login{float: left;margin: 102px 0px 0px 7px;}
#header .head_login a{
        /*width: 39px; 
        height: 20px;*/
        background-color:#E64838;
        padding:2px 7px; 
        -moz-border-radius: 4px;      /* Gecko browsers */
        -webkit-border-radius: 4px;   /* Webkit browsers */
        border-radius:4px;            /* W3C syntax */
        font:normal 13px/20px "微软雅黑",arial,sans-serif;
        color:#ffffff;
 }
#header .head_login a:hover{background-color:#c84133;}
#header .tel{background: url(../img/tel.png);float:right; font:normal 20px/94px "微软雅黑",arial,sans-serif;color:#ffa43d; width: 239px;height: 74px;margin-top:68px;
	 text-indent:20px;}
 /*导航条*/
#nav_wrap {
	margin:10px auto;
	width:100%;

	height:40px;
	background-color:#ad0007;
	background:-moz-linear-gradient(top, #d5000a, #ad0007);
	background:-webkit-linear-gradient(top, #d5000a, #ad0007);
	background:linear-gradient(top, #d5000a, #ad0007);
	border-radius:5px;
	box-shadow:#333 0 1px 1px;
}
#nav_wrap ul.nav{
	width:1024px;
	margin:0px auto;
	}
#nav_wrap ul.nav li {
	list-style:none;
	float:left;
	position:relative;
	padding:5px 19px;
}
#nav_wrap ul.nav li a {
	text-align:center;
	color:#fff;
	text-decoration:none;
	line-height:30px;
	height:30px;
	width:70px;
	font-size:16px;
	float:left;
	display:block;
	padding:0 10px;
	text-shadow:#666 1px 1px 1px;
}
#nav_wrap ul.nav li a:hover, #nav_wrap ul.nav li a.current {
	background-color:#870007;
	background:-moz-linear-gradient(top, #970007, #870007);
	background:-webkit-linear-gradient(top, #970007, #870007);
	background:linear-gradient(top, #970007, #870007);
	border-radius:5px;
	text-shadow:#333 1px 1px 1px;
}
#nav_wrap ul.sub_nav {
	display:none;
	position:absolute;
	padding:0 0 10px 0;
	background-color:#ad0007;
	background:-moz-linear-gradient(top, #ad0007, #9f0007);
	background:-webkit-linear-gradient(top, #ad0007, #9f0007);
	background:linear-gradient(top, #ad0007, #9f0007);
	border-radius:0 0 5px 5px;
	left:0;
	top:40px;
	box-shadow:#333 0 1px 1px;
}
#nav_wrap ul.sub_nav li {
	float:none;
}
#nav_wrap ul.sub_nav li a {
	float:none;
}
/*******************************bodyer begin*******************************/
#bodyer{
		width:1024px;
		margin:0px auto;
	}
/*轮播 begin*/
#divSmallBox{overflow:hidden;*display:inline;*zoom:1;width:10px;height:10px;margin:0 5px;border-radius:10px;background:#ffffff;}
#playBox{ width:1024px; height:409px; margin:20px auto; background:#333; position:relative; overflow:hidden;}
#playBox .oUlplay { width:99999px; position:absolute; left:0; top:0;}
#playBox .oUlplay li{ float:left;}
#playBox .oUlplay img{width:100%;height:100%;}
#playBox .pre{ cursor:pointer; width:45px; height:45px; background:url(../img/l.png) no-repeat; position:absolute; top:190px; left:10px; z-index:10;}
#playBox .next{ cursor:pointer; width:45px; height:45px; background:url(../img/r.png) no-repeat; position:absolute; top:190px; right:10px; z-index:10;}
#playBox .smalltitle {width:1000px; height:10px; position:absolute; bottom:15px; z-index:10}
#playBox .smalltitle ul{ width:120px; margin:0 auto;}
#playBox .smalltitle ul li{ width:10px; height:10px; margin:0 5px; border-radius:10px; background:#ffffff; float:left; overflow:hidden;*display:inline;*zoom:1; cursor: pointer;}
#playBox .smalltitle .thistitle{ background:#69aaec;}

/*轮播 end*/
#bodyer .title{
	width:100%;
	height:38px;
	line-height:38px;
	border-bottom:1px solid #626262;
	margin:4px 0px 14px 0px;
	text-indent:22px;
	}
#bodyer .title_link{
	width:100%;
	height:38px;
	line-height:38px;
	
	margin:4px 0px 14px 0px;
	text-indent:22px;
	}
#bodyer .title_dot{
	width:100%;
	height:38px;
	line-height:38px;
	border-bottom:1px solid #626262;
	margin:0px 0px 14px 0px;
	text-indent:22px;
	background:url(../img/rounddot.png) no-repeat 75px 14px; 
	}
#bodyer .title_small{
	width:100%;
	height:35px;
	font:normal  20px/35px "微软雅黑",arial,sans-serif;
	color:#000000;
	border-bottom:1px solid #C9C9C9;
	margin:0px 0px 14px 0px;
	text-indent:22px;
	}
/*news begin*/
#bodyer	.news{
	width:100%;
	}
#bodyer	.news .news_content .news_contentPh{
	width:454px;
	float:left;
	
	}
#bodyer	.news .news_contentPh img{
	width:454px;
	height:279px;		
	}
#bodyer	.news .news_contentPh a{
	color:#444444;
	}
#bodyer	.news .news_contentPh a:hover{
	
	text-decoration:underline;
	color:#1F3B7B;
	}
#bodyer	.news .news_contentUl{
	float:left;
	margin:0px 9px 0px 20px;
	width:360px;
	
	}
#bodyer	.news .news_contentUl ul{
	width:360px;
	height:147px;
	border-bottom:1px dashed #C9C9C9;
}

#bodyer	.news .news_contentUl a,#sub_right .news_contentUl a{
	font:normal 16px/30px "微软雅黑",arial,sans-serif;
	color:#444444;
	}
#bodyer	.news .news_contentUl a:hover,#sub_right .news_contentUl a:hover{
	text-decoration:underline;
	color:#1F3B7B;
	}
#bodyer	.news .news_contentAd{
	float:right;
	}
#bodyer	.news .news_contentAd img{
	width:181px;
	height:299px;
	}

/*news end*/
/*房车世界 begin*/
#bodyer .world{
	width:100%;
	}
#bodyer .world .world_big{
	
	width:344px;
	height:319px;
	}
#bodyer .world .world_big span{
	width:344px;
	margin-bottom: -20px;
	display:none;
	}
#bodyer .world img{
	width:344px;
	height:319px;
	float:left;
	
	}
#bodyer .world ul{
	width:678px;
	float:right;
	}
#bodyer .world ul span{
	display: none;
	
	line-height: 22px;
	overflow: hidden;
	margin-top: -20px;
	text-align: center;
	color: #e4e4e4;
	height: 20px;
	cursor: pointer;
	position: relative;
	}
#bodyer .world ul li{
	padding:0px 0px 8px 9px;
	float:left;
	position:relative;
	}
#bodyer .world ul img{
	width:216px;
	height:155px;
	}
/*房车世界 end*/
/*论坛活动 begin*/
#bodyer .luntan{
	width:100%;
	}
#bodyer .luntan li{
	float:left;
	padding:0px 3px;
	}
#bodyer .luntan img{
	width:138px;
	height:50px;
	border:1px solid #DCDCDC;
	}
#bodyer .luntan a:hover{
	border:1px solid #F0C217;
	}
/*论坛活动 end*/
/*左右 begin*/
#bodyer #lr{
	width:100%;
	}
/*left begin*/	
#bodyer #lr #left{
	width:678px;
	margin-right:22px;
	float:left;
	}
/*论坛热帖 begin*/
#bodyer #lr #left .forum_hotpost{
	/*margin-top:25px;*/
	}
#bodyer #lr #left .forum_content img{
	width:300px;
	height:200px;
	float:left;
	}
#bodyer #lr #left .forum_content ul{
	width:350px;
	height:200px;
	float:left;
	margin-left:20px;
	
	}
#bodyer #lr #left .forum_content li{
	background:url(../img/dot.png) no-repeat 0px 13px;
	padding-left:10px;
	}
#bodyer #lr #left .forum_content a{
	font:normal 16px/25px "微软雅黑",arial,sans-serif;
	color:#444444;
	}
#bodyer #lr #left .forum_content a:hover{
	color:#086A9E;
	text-decoration:underline;
	}
/*公益活动*/
#bodyer #lr #left .public_welfare{
	width:100%;
	margin-top:10px;
	}
#bodyer #lr #left .public_welfare li{
	float:left;
	margin:0px 9px 0px 0px;
	}
#bodyer #lr #left .public_welfare img{
	float:left;
	position:relative;
	
	}
#bodyer #lr #left .public_welfare ul{
	float:right;
	position:relative;
	
	}
#bodyer #lr #left .public_welfare li img{
	float:left;
	position:relative;
	width:75px;
	height:75px;
	float:left;
	}
#bodyer #lr #left .public_welfare li .welfare_eg{
	width:223px;
	float:left;
	position:relative;
	padding:5px 10px;
	background:#F6F6F6;
	height:65px;
	word-wrap: break-word;
	word-break: normal;
	}
#bodyer #lr #left .public_welfare li .welfare_eg h5{
	font:normal 14px/25px "微软雅黑",arial,sans-serif;
	color:#086A9E;
	}
#bodyer #lr #left .public_welfare li .welfare_eg span{
	width:223px;
	font:normal 14px/20px "微软雅黑",arial,sans-serif;
	color:#999999;
	}
/*房车论坛*/
#bodyer #lr #left .post{
	width:100%;
	height:122px;
	margin-bottom:20px;
	}
#bodyer #lr #left .post img{
	width:184px;
	height:122px;
	float:left;
	
	}
#bodyer #lr #left .post_content{
	width:475px;
	
	height:102px;
	}
#bodyer #lr #left .post_contentWrap{
	width:475px;
	float:right;
	}
#bodyer #lr #left .post_content a{
	font:bold 16px/28px "微软雅黑",arial,sans-serif;
	color:#446E90;
	}
#bodyer #lr #left .post_content a:hover{
	text-decoration:underline;
	}
#bodyer #lr #left .post_content p{
	font:normal 14px/25px "微软雅黑",arial,sans-serif;
	color:#8E8E8E;
	}
#bodyer #lr #left .post_manage{
	width:475px;
	height:27px;
	margin-bottom:0px;
	
	}
#bodyer #lr #left .post_manage .date{
	float:left;
	font:normal 14px/25px "微软雅黑",arial,sans-serif;
	color:#929292;
	position:relative;
	}
#bodyer #lr #left .post_manage .zan{
	float:right;
	}
#bodyer #lr #left .post_manage .zan li{
	float:left;
	position:relative;
	padding:0px 3px;
	font:normal 14px/25px "微软雅黑",arial,sans-serif;
	color:#02273C;
	}
#bodyer #lr #left .post_manage .zan a{
	
	
	font:normal 14px/25px "微软雅黑",arial,sans-serif;
	color:#02273C;
	}
#bodyer #lr #left .fc_forumMore{
	width:100%;
	height:36px;
	background:#EEEEEE;
	text-align:center;
	}
#bodyer #lr #left .fc_forumMore a{
	font:normal 16px/36px "微软雅黑",arial,sans-serif;
	color:#446E90;
	}
#bodyer #lr #left .fc_forumMore a:hover{
	font:normal 18px/36px "微软雅黑",arial,sans-serif;
	
	}
/*left end*/
#bodyer #lr #right{
	width:320px;
	float:right;
	}
/*right begin*/
/*贴吧排行榜*/
#bodyer #lr #right .ranks{
	width:100%;
	height:400px;
	border:1px solid #BFBFBF;
	margin-top:18px;
	
	}

#bodyer #lr #right .ranks_title {
	font:normal 18px/40px "微软雅黑",arial,sans-serif;
	color:#000000;
	width:100px;
	text-align:center;
	float:left;

	}
#bodyer #lr #right .ranks_title{
	width:100%;
	height:41px;
	}
#bodyer #lr #right  #rank_nav{
	width:50%;
	float:right;
	}
#bodyer #lr #right  #rank_nav li{
	float:left;
	position:relative;
	width:75px;
	}
#bodyer #lr #right .rank_navCur{
	border-left:1px solid #BFBFBF;
	border-right:1px solid #BFBFBF;
	border-bottom:1px solid #BFBFBF;
	float:left;
	
	position:relative;
	}
#bodyer #lr #right .zhuti,#bodyer #lr #right .diqu{
	width:289px;
	margin:8px auto;
	
	}
#bodyer #lr #right .zhuti li,#bodyer #lr #right .diqu li{
	
	border-bottom:1px dashed #BFBFBF;
	}
#bodyer #lr #right .ranks a{
	font:normal 14px/33px "微软雅黑",arial,sans-serif;
	color:#666666;
	}
#bodyer #lr #right .ranks a:hover{
	 text-decoration:underline;
	}
/*房车营地 改装*/
#bodyer #lr #right #fc_yingdi{
	width:100%;
	height:344px;
	border:1px solid #BFBFBF;
	margin-top:18px;
	
	}
#bodyer #lr #right #fc_yingdi img{
	width:299px;
	height:200px;
	margin:0px auto;
	display:block;
	}
#bodyer #lr #right #selected{
	border-bottom:none;
	} 
	
#bodyer #lr #right .yingdi_title li {
	float:left;
	width:159px;
	text-align:center;
	border-bottom:1px solid #BFBFBF;
	font:normal 18px/40px "微软雅黑",arial,sans-serif;
	color:#444444;
	}


#bodyer #lr #right .yingdi_titleLi{

	border-right:1px solid #BFBFBF;
	}
#bodyer #lr #right .yingdi_content,#bodyer #lr #right .gaizhuang_content{
	width:299px;
	margin:8px auto;
	}
#bodyer #lr #right #menu_con a{
	font:normal 15px/28px "微软雅黑",arial,sans-serif;
	color:#444444;
	}
#bodyer #lr #right .second_hand{
	width:100%;
	height:400px;
	border:1px solid #BFBFBF;
	margin-top:18px;
	}
#bodyer #lr #right .second_hand a{
	font:normal 15px/28px "微软雅黑",arial,sans-serif;
	color:#444444;
	}
#bodyer #lr #right .second_handTitle{
	width:100%;
	border-bottom:1px solid #BFBFBF;
	text-indent:25px;
	}
#bodyer #lr #right .second_handTitle a{
	font:normal 18px/40px "微软雅黑",arial,sans-serif;
	color:#444444;
	
	}
#bodyer #lr #right .second_hand ul{
	width:94%;
	margin:5px auto;
	}
#borderNone{
	border-bottom:none;
	
		
	}
#bodyer #lr #right .second_hand li{
	border-bottom:1px dashed #BFBFBF;
	}

/*右边的第一个广告*/
#bodyer #lr #right .ad1{
	width:100%;
	height:151px;
	margin-top:20px;
	
	}
#bodyer #lr #right .ad1 img{
	width:320px;
	height:151px;
	}

/*左右end*/
/*底板的长广告 begin*/
#bodyer .ad_changban{
	width:100%;
	height:100px;
	margin-top:17px;
	}
#bodyer .ad_changban img{
	width:1024px;
	height:100px;
	}
/*底板的长广告 end*/
/*友情链接 begin*/
#bodyer .links{
	width:100%;
	
	
}
#bodyer .links .links_content{
	width:100%;
	height:120px;
	border:1px solid #E4E4E4;
	padding:8px;
	font:normal 18px/30px "微软雅黑",arial,sans-serif;
	color:#BABABC;
	}
#bodyer .links .links_content li{
	float:left;
	
	}
#bodyer .links .links_content a{
	font:normal 16px/30px "微软雅黑",arial,sans-serif;
	color:#828282;
	}
#bodyer .links .links_content a:hover{
	text-decoration:underline;
	}
#bodyer .links .links_content span{
	padding:0px 9px;
	}
#bodyer .links .links_content table{
	width:100%;
	}
	
/*友情链接 end*/
/*********************************bodyer end******************************/
/*footer begin*/
#footer{
	width:100%;
	padding:30px 0px;
	text-align:center;
	background:#3E4351;
	margin-top:18px;
	position:relative;
	overflow:hidden;

	}
#footer .nav{
	
	text-align:center;
	font:normal 16px/30px "微软雅黑",arial,sans-serif;
	color:#EDEDED;
	float:left;
	left:50%;
	position:relative;
	}
#footer .nav li{
	float:left;
	position:relative;
	display: inline;
	right:50%;
	}
#footer .nav a{
	font:normal 16px/30px "微软雅黑",arial,sans-serif;
	color:#EDEDED;
	}
#footer .nav a:hover{
	
	color:#F00;
	}
#footer .nav span{
	padding:0px 5px;
	}
/*footer end*/
/*子页面*/
#bodyer #sub_left{
	width:200px;
	float:left;
	border:1px solid #ccc ;
	 
	font-size:14px; 
	text-align:center; 
	
}
#bodyer #sub_right{
	width:810px;
	min-height:600px;
	height:auto !important; 
	float:right;
	border:1px solid #ccc;
	}
.div1{text-align:center; width:200px;}
.div1 a{ line-height:40px;font-size:13px;color:#000;}
.div2{height:40px;cursor: pointer;  position:relative;border-bottom:#ccc 1px dotted;line-height:40px;font-size:13px;color:#000;}

.jbsz {position: absolute; height: 20px; width: 20px; left: 40px; top: 10px; background:url(images/1.png);}
.xwzx {position: absolute; height: 20px; width: 20px; left: 40px; top: 10px; background:url(images/2.png);}
.zxcp {position: absolute; height: 20px; width: 20px; left: 40px; top: 10px; background:url(images/4.png);}
.lmtj {position: absolute; height: 20px; width: 20px; left: 40px; top: 10px; background:url(images/8.png);}
.div3{display: none;cursor:pointer; font-size:13px;}
.div3 ul{margin:0;padding:0;}
.div3 li{ height:30px; line-height:30px; list-style:none; border-bottom:#ccc 1px dotted; text-align:center;}
/*login register*/
#login {
	width: 384px;
	border: 1px solid #999;
	margin:70px auto;
}

#login .top {
	height: 70px;
	line-height: 70px;
    text-align:center;
	width: 384px;
	background-color: #F4F4F4 ;
	font-size: 14px;
	font-weight: bold;
}
#login .body{
	height:160px;
	padding:20px;
	width:344px;
	border-top:1px solid #999;	
	border-bottom:1px solid #999;	
}
#login .body div{
	height:50px;
	line-height:50px;
}
#login .body lable{
	text-align:right;
	width:60px;
	border:1px solid red;
}
#login .body div.pt  input{
	height:30px;
	line-height:30px;
	border:1px solid #999;
	width:190px;
}
#login .bt{
	height:30px; 
	 
	text-align:center; 
	background-color:#EDF1F3;
	font:normal  13px/30px "微软雅黑",arial,sans-serif;
	color:#333333;
}
#login input.btn{
	width:100px;
	height:33px;
	line-height:33px;
	text-align:center;
	color:#fff;
	border:none;
	font-weight:bold;
	background:url("../img/bt.gif") no-repeat;
	cursor:pointer;
	
}
#login .body div.pt  input.chooseInput{
	border:1px solid blue;
	background-color: #aaa;
}
#login .body div.pt  input.chooseInput{
	border:1px solid blue;
}
#login .body div.pt  a{
	font:normal 13px/15px "微软雅黑",arial,sans-serif;
	color:#333333;
}
#login .body div.pt  a:hover{
	text-decoration:underline;
	color:#F00;
}
#login .dl{
	width:60%;
	margin:0px auto;
	}
/*about */
#sub_right .about_content{
	width:96%;
	margin:20px auto;
	
}
#sub-rightWrap{
	width:98%;
	margin:10px auto;
}
#sub_right .about_content h3{
	font:normal 25px/50px "微软雅黑",arial,sans-serif;
	color:#333333;
	text-align:center;
}
#sub_right .about_content p{
	font:normal 16px/30px "微软雅黑",arial,sans-serif;
	color:#333333;
	
	text-indent:25px;
	word-wrap: break-word;
	word-break: normal;
}
 /*news_info news_policy*/
 #bodyer #sub_right .news_contentUl li{
	background:url(../img/dot.png) no-repeat 0px 13px;
	padding-left:10px;
	
	border-bottom:1px dashed #C9C9C9;
}
#sub_right .news_contentUl{
	
	margin:0px auto;
	width:96%;
	
	}
/*房车摄影*/
#sub_right .fc_ph{
	float:left;
	margin:6px 6px 0px 0px;
	}
#sub_right .fc_ph img{
	width:258px;
	height:200px;
	}